<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        container
            div
                table(style='border-collapse: collapse;')
                    thead
                    tr(style='border: 1px solid;')
                        th(style='border: 1px solid;') Client
                        th(style='border: 1px solid;') email
                        th(style='border: 1px solid;') Date
                        th(style='border: 1px solid;') Invoice number
                    tbody
                        td(style='border: 1px solid;') #{user.firstName}  #{user.lastName}
                        td(style='border: 1px solid;') #{user.email}
                        td(style='border: 1px solid;') #{invoice.transactionDate} 
                        td(style='border: 1px solid;') #{invoice.id}      
                br
                br 
                table(style='border-collapse: collapse;')
                    thead
                    tr(style='border: 1px solid;')
                        th(style='border: 1px solid;') TRANSACTION DESCRIPTION
                        th(style='border: 1px solid;') Quantity
                        th(style='border: 1px solid;') Unitary Price
                        th(style='border: 1px solid;') Limit date
                        th(style='border: 1px solid;') TOTAL
                    tbody
                        if boughtDetails
                            each detail in boughtDetails
                                tr(style='border: 1px solid;')
                                    td(style='border: 1px solid;')  Purchase of  #{detail.movie.title}                                                                   
                                    td(style='border: 1px solid;') #{detail.quantity}
                                    td(style='border: 1px solid;') #{detail.movie.salePrice}
                                    td(style='border: 1px solid;') --
                                    td(style='border: 1px solid;') #{detail.price.toFixed(2)}
                        if rentDetails
                            each detail in rentDetails
                                tr
                                    td(style='border: 1px solid;') Rent of  #{detail.movie.title}                                                                   
                                    td(style='border: 1px solid;') #{detail.quantity}
                                    td(style='border: 1px solid;') #{(detail.movie.salePrice * 0.1)}
                                    td(style='border: 1px solid;') #{detail.returnDate}
                                    td(style='border: 1px solid;') #{detail.price.toFixed(2)}                     
            div
                small TOTAL 
                span.f-w-600 #{invoice.total.toFixed(2)}     
            div
                li
                    ul Make the payment by a credit card
            div
                p THANK YOU FOR PREFER US            
                        