<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        container
            div
                table
                    thead
                    tr
                        th Client
                        th email
                        th Date
                        th Invoice number
                    tbody
                        td.text-center #{user.firstName}  #{user.lastName}
                        td.text-center #{user.email}
                        td.text-center #{invoice.transactionDate} 
                        td.text-center #{invoice.id}      
                br
                br 
                table
                    thead
                    tr
                        th TRANSACTION DESCRIPTION
                        th Quantity
                        th Unitary Price
                        th Limit date
                        th TOTAL
                    tbody
                        if boughtDetails
                            each detail in boughtDetails
                                tr
                                    td.text-center  Purchase of  #{detail.movie.title}                                                                   
                                    td.text-center #{detail.quantity}
                                    td.text-center #{detail.movie.salePrice}
                                    td.text-center --
                                    td.text-center #{detail.price.toFixed(2)}
                        if rentDetails
                            each detail in rentDetails
                                tr
                                    td.text-center  Rent of  #{detail.movie.title}                                                                   
                                    td.text-center #{detail.quantity}
                                    td.text-center #{(detail.movie.salePrice * 0.1)}
                                    td.text-center #{detail.returnDate}
                                    td.text-right #{detail.price.toFixed(2)}                     
            div
                small TOTAL 
                span.f-w-600 #{invoice.total.toFixed(2)}     
            div
                li
                    ul Make the payment by a credit card
            div
                p THANK YOU FOR PREFER US            
                        